* {
  font-weight: 500;
  margin: 0;
  padding: 0; }

input {
  display: block;
  margin: 1em;
  padding: 0.2em;
  font-size: 100%;
  border-radius: 0.2em;
  border: 1px solid lightgray; }

input[type="submit"] {
  display: block;
  margin: 1em;
  padding: 0.3em;
  font-size: 100%;
  border-radius: 0.2em;
  border: 1px solid lightgray;
  background-color: white; }

.errorMessages {
  color: red; }
