<!DOCTYPE html>
<html  lang = "en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    
<head>
	<meta charset = "utf-8" />
    <meta name = "viewport" content = "width = device-width,initial-scale = 1.0">
    <title>Sign up</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/materialize.css}" media = "all">
</head>

<body>
	<div id = "signup">
		<header class = "container">
			<h1>Sign up</h1>
		</header>
		
		<!-- Main container of the page -->
		<main>
			<section class = "container">
				<div class = "row">
					<form th:method = "post" th:object="${userDto}" th:action = "@{/signupUser}">
						
						<!-- Form Fields -->
						<div class = "row">
							<div class = "input-field col s12 m6 l6">
								<input th:field="*{firstName}" id = "first_name" type = "text" class = "validate">
								<label for = "first_name">First Name</label>
								<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
							</div>
							<div class = "input-field col s12 m6 l6">
								<input th:field="*{lastName}" id = "last_name" type = "text" class = "validate">
								<label for = "last_name">Last Name</label>
								<p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
							</div>
						</div>
						<div class = "row">
							<div class = "input-field col s12 m12 l12">
								<input th:field="*{email}" id = "email" type = "email" class = "validate">
								<label for = "email">Email</label>
								<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
							</div>
						</div>
						<div class = "row">
							<div class = "input-field col s12 m6 l6">
								<input th:field="*{password}" id = "password" type = "password" class = "validate">
								<label for = "password">Password</label>
								<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
							</div>
							<div class = "input-field col s12 m6 l6">
								<input th:field="*{matchingPassword}" id = "confirm-password" type = "password" class = "validate">
								<label for = "confirm-password">Confirm Password</label>
								<p th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}"></p>
							</div>				
						</div>	
						<div class = "center-align">
							<button class = "btn waves-effect waves-light" type = "submit" name = "action">Signup
							<i class = "material-icons right">send</i>
							</button>
						</div>																				
					</form>
				</div>
			</section>	
		</main>
	</div><!-- End signup page container-->
	<script th:src = "@{/js/materialize.js}"></script>
</body>
</html>